<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<div class="ui-widget">
    <div id="mainMenu" class="ui-accordion ui-widget ui-helper-reset" role="tablist">

    </div>
</div>